# Edit credentials for your Nest online account
# log_dir: log_dir = sys.path[0] + os.sep

[Credentials]
username: user@someaddress.com
password: somepassword

[Parameters]
log_dir: log_dir = sys.path[0] + os.sep
set_hum: True
log_data: True
max_log_size = 100000000
delay_rechk: 20
thresh_stage_1: -1.25
thresh_stage_2: -2.25
thresh_stage_3: -3.25
